.react-datepicker {
  background-color: #1a1a1a;
  color: white;
  border: 1px solid #444;
}

.react-datepicker__header {
  background-color: #333;
  border-bottom: 1px solid #444;
}

.react-datepicker__day {
  color: white;
}

.react-datepicker__day:hover {
  background-color: #444;
}

.react-datepicker__day--selected {
  background-color: #555;
  color: white;
}

.react-datepicker__current-month,
.react-datepicker__day-name {
  color: white;
}

.react-datepicker__input-container input {
  background-color: black;
  color: white;
  border: 1px solid #444;
}
